:root {
  /* font */
  --font-family: "Montserrat", sans-serif;

  /* colors */
  --main-color: #fff;
  --accent-color: #ffea00;
  --bg-color: #2a2a29;
  --secondary-color: #c9c69b;
  --disable-color: #5d5d56;
  --shadow-color: #181817;

  /* conteiner */
  --conteiner-width: 1240px;
  --conteiner-padding: 15px;
}
